.subheading {
  font-size: var(--font-size-small-text);
  font-weight: 400;
  line-height: var(--line-height-normal);
  text-align: center;
  color: var(--text-secondary);
  margin-block-start: 8px;
}
