@layer base {
  :root {
    --font-family: Inter;
  }

  @supports (font-variation-settings: normal) {
    :root {
      --font-family: InterVariable;
    }
  }

  :root {
    --line-height-compact: 1.125;
    --line-height-tight: 1.25;
    --line-height-normal: 1.5;

    --font-size: 18px;

    --major-second-scale-ratio: 1.125;
    --minor-third-scale-ratio: 1.2;
    --major-third-scale-ratio: 1.25;

    --type-scale-ratio: var(--major-second-scale-ratio);

    --font-size-note-text: 0.778rem; /* ~14px */
    --font-size-small-text: 0.889rem; /* ~16px */
    --font-size-base-text: 1rem; /* 18px */

    --font-size-heading-6: calc(
      var(--font-size-base-text) *
      var(--type-scale-ratio)
    );
    --font-size-heading-5: calc(
      var(--font-size-heading-6) *
      var(--type-scale-ratio)
    );
    --font-size-heading-4: calc(
      var(--font-size-heading-5) *
      var(--type-scale-ratio)
    );
    --font-size-heading-3: calc(
      var(--font-size-heading-4) *
      var(--type-scale-ratio)
    );
    --font-size-heading-2: calc(
      var(--font-size-heading-3) *
      var(--type-scale-ratio)
    );
    --font-size-heading-1: calc(
      var(--font-size-heading-2) *
      var(--type-scale-ratio)
    );
  }

  @media screen and (width >= 768px) {
    :root {
      --type-scale-ratio: var(--minor-third-scale-ratio);
    }
  }

  @media screen and (width >= 1024px) {
    :root {
      --type-scale-ratio: var(--major-third-scale-ratio);
    }
  }

  html {
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    font-weight: 400;

    font-feature-settings:
      "kern" 1,
      "liga" 1,
      "calt" 1,
      "ss08" 1;
    font-kerning: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-size-adjust: 100%;

    button {
      font-family: var(--font-family), sans-serif;
    }
  }

  body {
    h1 {
      font-size: var(--font-size-heading-1);
      font-weight: 700;
      line-height: var(--line-height-tight);
      margin: 0;
    }

    h2 {
      font-size: var(--font-size-heading-2);
      font-weight: 700;
      line-height: var(--line-height-tight);
      margin: 0;
    }

    h3 {
      font-size: var(--font-size-heading-3);
      font-weight: 700;
      line-height: var(--line-height-tight);
      margin: 0;
    }

    h4 {
      font-size: var(--font-size-heading-4);
      font-weight: 700;
      line-height: var(--line-height-tight);
      margin: 0;
    }

    h5 {
      font-size: var(--font-size-heading-5);
      font-weight: 700;
      line-height: var(--line-height-tight);
      margin: 0;
    }

    h6 {
      font-size: var(--font-size-heading-6);
      font-weight: 700;
      line-height: var(--line-height-tight);
      margin: 0;
    }

    p {
      font-size: var(--font-size-base-text);
      font-weight: 400;
      line-height: var(--line-height-normal);
      margin: 0;
    }

    strong {
      font-size: inherit;
      font-weight: 600;
      line-height: inherit;
    }
  }
}
