@layer base, component, variant, layout, route;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    --body-background: var(--bg-primary);

    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    background: var(--body-background);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    view-transition-name: body;
    min-height: 100vh;

    @supports (height: 100dvh) {
      min-height: 100dvh;
    }
  }
}
