@layer component {
  body {
    --list-item-highlight-color: var(--slate-700);
  }
}

.listItem {
  @layer component {
    margin-bottom: 8px;
    line-height: var(--line-height-normal);
  }
}

.paragraph {
  @layer variant {
    text-align: start;

    & strong {
      font-size: inherit;
      font-weight: 600;
      line-height: inherit;
      color: var(--list-item-highlight-color);
    }
  }
}
