@layer component {
  body {
    --quote-text-color: var(--slate-700);
  }
}

.blockquote {
  @layer component {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.text {
  @layer component {
    margin: 0;
    font-family: inherit;
    font-size: var(--font-size-heading-4);
    line-height: var(--line-height-normal);
    color: var(--quote-text-color);
    font-weight: 400;
    font-style: italic;
  }
}
