.attribution {
  @layer component {
    margin-top: 12px;

    p {
      margin: 0;
      font-family: inherit;
      font-size: var(--font-size-small-text);
      line-height: var(--line-height-tight);
      color: var(--slate-600);
      font-weight: 500;
      font-style: normal;
    }
  }
}
