@layer layout {
  body {
    &:global(.developer) {
      --body-background: var(--bg-developer);

      --hero-section-subheading-color: var(--teal-700);

      --call-to-action-section-border-color: var(--teal-300);
      --call-to-action-section-background-color: var(--teal-50);

      --link-color: var(--teal-600);
      --focus-outline-color: var(--teal-400);

      --quote-text-color: var(--teal-600);

      --list-item-highlight-color: var(--teal-700);

      --empty-state-heading-color: var(--teal-800);

      --link-button-background-color: var(--teal-600);
      --link-button-label-color: var(--teal-50);

      --error-section-heading-color: var(--teal-800);
      --error-section-stack-trace-background-color: var(--teal-900);
      --error-section-stack-trace-color: var(--teal-50);
    }
  }
}

.siteHeader {
  @layer layout {
    margin-block: 16px;

    @media (width >= 768px) {
      margin-block: 32px;
    }
  }
}

.siteContent {
  @layer layout {
    margin-block-start: 0;
  }
}
