.card {
  @layer component {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    justify-items: center;
    gap: 16px;
    padding: 24px;
    background-color: var(--call-to-action-section-background-color);
    border-top: 4px solid var(--call-to-action-section-border-color);
    box-shadow: var(--shadow-base);
    border-radius: 0 0 8px 8px;
  }
}
