.group {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: 1fr;
  row-gap: 48px;
  justify-content: center;
  justify-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (width >= 768px) {
    grid-template-columns: repeat(2, auto);
    column-gap: 64px;
    row-gap: 0;
  }
}
