.header {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  justify-items: center;
}

.content {
  display: grid;
  position: relative;
  width: 100%;
  max-width: var(--page-content-max-width);
  grid-auto-flow: row;
  grid-auto-rows: auto;
  justify-items: center;
  padding-inline: var(--page-content-padding-inline);
}

.headline {
  background: var(--gradient-dark);
  background-clip: text;
  color: transparent;

  view-transition-name: headline;
  text-align: center;

  &.headline_default {
    font-size: var(--font-size-heading-1);
    font-weight: 700;
    line-height: var(--line-height-tight);
  }

  &.headline_simple {
    font-size: var(--font-size-heading-4);
    font-weight: 700;
    line-height: var(--line-height-tight);
  }

  &.headline_beekeeper {
    background: var(--gradient-honey);
    background-clip: text;
    color: transparent;
  }

  &.headline_developer {
    background: var(--gradient-teal);
    background-clip: text;
    color: transparent;
  }
}

.subheadline {
  color: var(--text-secondary);
  view-transition-name: subheadline;

  & span:nth-of-type(1) {
    view-transition-name: subheadline-occupation1;
  }

  & span:nth-of-type(2) {
    view-transition-name: subheadline-conjunction;
  }

  & span:nth-of-type(3) {
    view-transition-name: subheadline-occupation2;
  }
  text-align: center;
}

.subheadlineDefault {
  margin-block-start: 16px;
  font-size: var(--font-size-heading-6);
}

.subheadlineSimple {
  font-size: var(--font-size-base-text);
}

.subheadlineHidden {
  display: none;
}

.tagline {
  color: var(--text-muted);
  font-size: var(--font-size-small-text);
  text-align: center;
  margin-block-start: 8px;
}
