@layer component {
  body {
    --call-to-action-section-background-color: var(--slate-50);
    --call-to-action-section-border-color: var(--slate-300);
  }
}

.section {
  @layer component {
    position: relative;
    width: 100%;
    max-width: var(--page-content-max-width);
    padding-inline: var(--page-content-padding-inline);
    margin-block-end: 64px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: 16px;
    justify-items: center;
  }
}
