.heroPolaroid {
  @layer route {
    margin-block-start: 32px;
    transform: rotate(-1deg);
  }
}

.hivesPolaroid {
  @layer route {
    transform: rotate(1deg);
  }
}

.toolsPolaroid {
  @layer route {
    transform: rotate(-1deg);
  }
}

.beesPolaroid {
  @layer route {
    transform: rotate(1deg);
  }
}
