.hivesPolaroid {
  @layer route {
    transform: rotate(1deg);
  }
}

.toolsPolaroid {
  @layer route {
    transform: rotate(-1deg);
  }
}

.beesPolaroid {
  @layer route {
    transform: rotate(1deg);
  }
}
