.description {
  @layer component {
    font-family: inherit;
    font-size: var(--font-size-base-text);
    line-height: var(--line-height-normal);
    color: var(--text-secondary);
    font-style: italic;
    text-align: center;
  }
}
