@layer layout {
  body {
    &:global(.beekeeper) {
      --body-background: var(--bg-beekeeper);

      --call-to-action-section-border-color: var(--amber-300);
      --call-to-action-section-background-color: var(--amber-50);

      --link-button-background-color: var(--amber-600);
      --link-button-label-color: var(--amber-50);

      --error-section-heading-color: var(--amber-800);
      --error-section-stack-trace-background-color: var(--amber-900);
      --error-section-stack-trace-color: var(--amber-50);
    }
  }
}

.siteHeader {
  @layer layout {
    margin-block: 16px;

    @media (width >= 768px) {
      margin-block: 32px;
    }
  }
}

.siteContent {
  @layer layout {
    margin-block-start: 0;
  }
}
