@layer layout {
  body {
    &:global(.beekeeper) {
      background: var(--bg-beekeeper);
    }
  }

  .site_header {
    margin-block: 16px;

    @media (width >= 768px) {
      margin-block: 32px;
    }
  }
}
