.heading {
  font-size: var(--font-size-heading-5);
  color: var(--text-primary);
  margin-block-start: 16px;
  margin-block-end: 8px;
  text-align: center;
  text-shadow: var(--shadow-sm);
  font-weight: 700;
  line-height: var(--line-height-tight);
  max-width: 280px;
  width: 100%;

  @media (width >= 768px) {
    max-width: 320px;
  }
}

a:hover .heading {
  text-decoration: underline;
}
