@layer component {
  .listItem {
    --arrow-color: var(--text-primary);

    display: grid;
    position: relative;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: 8px;
    font-size: var(--font-size-note-text);
    font-weight: 400;
    line-height: var(--line-height-compact);
    color: var(--text-muted);
    text-shadow: var(--shadow-sm);

    &:not(:last-of-type) {
      margin-block-end: 8px;
    }
  }

  .arrow {
    color: var(--arrow-color);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    will-change: transform;
  }
}
